* {
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./img/bgSite.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: aliceblue;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 3px;
    text-shadow: 4px 8px 4px rgba(255, 255, 255, 0.25);
}

a {
    color: aliceblue;
}

.screen {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 720px;
    height: 480px;
    border-radius: 5px;
    background-image: url('./img/3. Background/Dark/completo.png');
    background-size: cover;
    z-index: 1;
}

/* startscreen */

.how-to-play-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 16px;
}

.how-to-play {
    padding-top: 32px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.how-to-play:hover,
.sound:hover {
    cursor: pointer;
}

.how-to-play>img {
    width: 30px;
    height: 30px;
}

.how-to-play>p {
    font-size: 18px !important;
    margin-block-start: 0;
    margin-block-end: 0;
}


.start-button {
    height: 50px;
}

.start-button:hover {
    cursor: pointer;
}

.rotateAdvice {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    color: aliceblue;
    font-size: 32px;
    font-weight: 100;
    letter-spacing: 3px;
    text-align: center;
}

span,
h2 {
    color: aliceblue;
    letter-spacing: 3px;
}

.links {
    margin-top: 16px;
}

.impressum {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 80vw;
    box-sizing: border-box;
    background-color: rgba(14, 15, 34, 0.582);
    padding: 32px;
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.25) 0px -12px 30px, rgba(255, 255, 255, 0.25) 0px 4px 6px, rgba(255, 255, 255, 0.25) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.start-sharkie-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.start-sharkie-img {
    width: 200px;
    position: absolute;
    left: 64px;
    animation: linear infinite;
    animation-name: floatSharkie;
    animation-duration: 8s;
}

@keyframes floatSharkie {
    0% {
      top: 250px;
    }
    50% { 
      top: 350px; 
     }
    100% {
      top: 250px;     
    }
  }


.start-puffer-fish {
    height: 70px;
    position: absolute;
    right: 64px;
    animation: linear infinite;
    animation-name: floatPufferfish;
    animation-duration: 5s;
}

@keyframes floatPufferfish {
    0% {
      top: 200px;
    }
    50% { 
      top: 250px; 
     }
    100% {
      top: 200px;     
    }
  }



/* rotate device */

.arrow-wrapper {
    margin-top: 32px;
    width: 100%;
    text-align: center;
}

.arrow-wrapper>img {
    width: 60px;
    height: 60px;
}

.arrow-wrapper>img:hover {
    cursor: pointer;
}

.rotateArrows {
    width: 80px;
    height: 80px;
}

.d-none {
    display: none;
}


canvas {
    /* background-color: rgb(9, 40, 221); */
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.25) 0px -12px 30px, rgba(255, 255, 255, 0.25) 0px 4px 6px, rgba(255, 255, 255, 0.25) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: block;
    z-index: 0;
}


/* how to play section style */

.htp-wrapper {
    box-sizing: border-box;
    padding: 16px;
    width: 720px;
    height: 480px;
    background-color: rgba(14, 15, 34, 0.582);
}

.go-back {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.go-back>p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.go-back>p:hover {
    cursor: pointer;
}

.movement,
.slap,
.bubble-trap,
.posion-bubble {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.movement>.description>p,
.slap>p,
.bubble-trap>p,
.posion-bubble>p,
.text>p {
    font-size: 20px !important;
    margin-block-start: 0;
    margin-block-end: 0;
}

.keys {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
}

.arrow {
    width: 40px;
    height: 40px;
}

.up {
    display: flex;
    justify-content: center;
}

.others {
    display: flex;
}

.slap>img {
    height: 50px;
    width: 200px;
}

.img-wrapper {
    width: 200px;
    text-align: center;
}

/* Game Over Screen*/

.game-over {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 16px;
}

.space-between {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

.game-over-text {
    width: 600px;
    margin: 32px, 32px, 32px, 32px;
}

.sharkie-dead {
    width: 300px;
    position: absolute;
    animation: linear infinite;
    animation-name: float;
    animation-duration: 4s;
}

.try-again-btn {
    width: 300px;
    margin: 32px;
}

.try-again-btn:hover {
    cursor: pointer;
}

@keyframes float {
    0% {
      top: 160px;
    }
    50% { 
      top: 200px; 
     }
    100% {
      top: 160px;     
    }
  }


@media only screen and (max-width: 720px) {

    canvas,
    .screen {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {

    canvas,
    .screen {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}

@media screen and (orientation: portrait) {
    .rotateAdvice {
        display: flex;
    }

    canvas,
    .screen {
        display: none;
    }
}